.Body{
    background-color: rgb(228, 228, 225);
}
.firstDiv{
    text-align: center;
    
}
#h2{text-decoration: double;}

.container {
    display: flex;
    gap: 8rem;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.card {
    width: 300px;
    border-radius: 9px;
    padding: 12px;
    transform: rotateX(5deg); rotateY:(5deg); scale:(1.05);
    box-shadow: #645f5d84 15px 18px 24px;

    
}

.card img {
    width: 300px;
    border-radius: 9px;
}

.card h3 {
    color: #292443;
}




.container {
    display: flex;
    gap: 3rem;
}

.card {
    border: 2px solid #000000;
    border-width: 5px;
    /* shorthand */

    /* border-width: 4px;
    border-style: solid;
    border-color: #666666; */


    border-radius: 12px;

    border-top-radius: 70px;

}

.btn {
    background-color: black;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: #615f5e84;
}

.btn:hover {
    background-color: #f7f6f6;
    color: rgb(0, 0, 0);
     transition: opacity 1s;
}

.btncenter {
    text-align: center;
    margin-top: 4rem;
}

.card :hover{
    transform:translate(5DEG); scale:(1.50);
    transition: opacity 2s;
    box-shadow: 20px 20px 40px black;
}

.container:hover{
      transform: rotateX(5deg); rotateY(5deg); scale:(1.05);
}